<footer class="site-footer">

  <div class="wrapper">

    <div class="partner-logos">
      <!-- replace logos here! -->
      <p>Disclaimer: This is a student project!</p>
      <a href="https://qm.org.qa/en/calendar/lusail-museum-tales-of-a-connected-world/about-the-galleries/" target="_blank">
        <img class="logo" src="{{ site.baseurl }}/assets/img/logo/LM_logo_lowres_white_orange_ff752f.png"/>
         </a>
       
      <a href="https://tooba-qm.github.io/internship-QM/" target="_blank">
           <img class="logo" src="{{ site.baseurl }}/assets/img/logo/ta.png"/>
      </a>
               </div>
       
  </div>

</footer>
