---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$base-font-size:   20px;

$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       	#000000;
$background-hr:		#dcd8ce;
$background-color: 	#FF752F;
$background-darker: #dcd8ce;
$brand-color:	   	#000000;
$anchor-hover-color:	lighten($brand-color, 30%);

$player-now-playing-size:   13px;
$player-height:		64px;
$player-button-size:	48px;
$player-bgcolor:	$brand-color;
$player-scrubber-color:	darken($brand-color, 1%);
$player-loaded-color:	darken($brand-color, 5%);
$player-progress-color:		lighten($brand-color, 10%);
$player-play-color:		lighten($brand-color, 5%);
$player-progress-height: 10px;

$tile-bgcolor:	   $brand-color;
$tile-color:	   #fafafa;
$tile-size:		   56px;
$tile-size-large:  64px;
$tile-border-radius:	2px;

$grey-color:       $brand-color;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-tiny:          310px;
$on-palm:          640px;
$on-laptop:        800px;

$height-600:       600px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin media-query-height($device) {
    @media screen and (min-height: $device) {
        @content;
    }
}



/* Custom styling for the artist-info div */
.artist-info {
  display: flex;
  border: 2px solid #dcd8ce;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #dcd8ce;
}

.artist-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.artist-text {
 
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.artist-text h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.artist-text h4 {
  font-size: 16px;
  color: black;
  margin: 0;
}

/* Custom styling for the image and caption */
.artist-details figure {
  align-self: flex-end;
  margin-left: 20px;
  width: 100%; /* Set the width of the image to 100% of its container */
  margin-bottom: 10px;
  overflow: hidden; /* Hide any overflowing parts of the image */
}

.artist-details img {
  width: 100%;
  height: 100%; /* Set the height of the image to 100% of its container */
  border-radius: 8px;
  object-fit: cover; /* Ensure the image fills the container while maintaining aspect ratio */
}

.artist-details figcaption {
  font-size: 14px;
  color: #666;
  margin: 0;
}





.artist-description {
  flex: 1;
  margin-top: 20px; /* Add margin to separate from artist-details */
}

.artist-description p {
  line-height: 1.6;
  padding: 3px;
}

/* Your existing CSS styles here */

.artist-birth {
  display: flex;
  align-items: center;
}

.artist-birth span {
  font-size: 16px;
  color: #666;
  margin-right: 5px;
}

.artist-birth h4 {
  font-size: 16px;
  color: #333;
  margin: 0;
}

.artist-info {
  display: none;
  margin-top: 20px;
}





  /* Your existing CSS styles here 
  
  .artist-info {
    display: none;
    margin-top: 20px;
  }
  
  #artistImage {
    max-width: 300px;
  }
  
  */

/* Custom styling for the label and select elements */
label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

select {
  font-size: 16px;
  padding: 8px;
  border: 2px solid #dcd8ce;
  border-radius: 8px;
  background-color: #dcd8ce;
  color: black;
  outline: none;
 
}


select::-ms-expand {
  display: none; /* Hide the default arrow on Internet Explorer */
}

select::after {
  content: "\25BC"; /* Unicode for down arrow */
  font-size: 14px;
  padding: 0 5px;
}

  
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "fonts",
        "base",
        "layout",
        "syntax-highlighting"
;