---
layout: master_episode
---

<article class="post">

  <header class="post-header">
    <div class="post-title-episode">
      <div class="post-header-stop-id" style="background-image: url('{{ site.baseurl }}{{ site.headphones_icon_light }}');"><span>{{ page.stop_id }}</span></div>
      {% if page.section_title != null %}
        <h2 class="post-header-section-title">{{ page.section_title }}</h1>
      {% endif %}
      {% if page.title != null %}
        <h3 class="post-header-title">{{ page.title }}</h2>
      {% endif %}
    </div>
  </header>
  {% if page.hero_images != null %}
    <div class="slick-container post-hero-image-container">
      <div class="slick-post-hero-image">
        {% for hero in page.hero_images %}
          <div class="post-hero-image">    
                       <img src="{{ site.baseurl }}{{ site.episode_hero_path }}{{hero.path}}" alt="{{hero.alt_text}}"/>
                       <b style="font-size: 15px;">Images courtesy of General Collection-Doha and the Lusail Museum Collection-Doha</b>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

 
  {% if page.video_required !=null %}
    <!-- Video format -->
    <div>
    <video controls>
      <div>
      <source src="{{ site.baseurl }}{{ page.video_url }}" type="video/mp4">
      Your browser does not support the video tag.
    </div>
    </video>
  </div>
  {% endif %}


  <div class="post-content">
    {{ content }}
  </div>

</article>

  
  
  
<!--hero_images:
 - path: T1.jpg
   alt_text: Second example photo for stop 3-->