<!DOCTYPE html>
<html>

  {% include head.html %}

  <head><script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    {% include tagmanager.html %}
    {% include header.html %}

    <div class="page-content main-page">
     <br>
      <div class="wrapper">
        {{ content }}
      </div>
      <br>
      <br>

      <!--API TO INSERT : DROPDOWN -->
      <div class="wrapper">
       
        <h4>EXPLORE THE ARTISTS IN LM MUSEUM</h4>
        <label for="artistSelect">Select an artist:</label>
        <select id="artistSelect">
          <!-- Dropdown options will be populated dynamically -->
        </select>

        <div class="artist-info">
          <div class="artist-details">
              <div class="artist-text">
                  <h2 id="artistName"></h2>
                  <h2 id="artistNameArabic" ></h2>
                  <div class="artist-birth">
                    <span>Birthdate:</span>
                    <h4 id="artistBirthDate"></h4>
                </div>
                  <br>
              </div>
              
              <figure>
                  <img id="artistImage" src="" alt="Artist Image">
                  <br>
                  <figcaption id="imageCaption">Caption goes here</figcaption>
              </figure>
          </div>
          <div class="artist-description">
              <p id="artistDescription"></p>
          </div>
      </div>
  
      


      </div>
    </div>

    {% include footer.html %}




    <script src="assets/js/script.js"></script>
  </body>

</html>
